/* Enter your custom styles here */
.sapMLnk {
    font-size: 1rem;
}
.sapMLIBContent {
padding: 0px;
}
.sapMLIB.sapMObjLItem {
    padding: 0px;
}
.sapMTextLineClamp {
    font-size: 1rem;
	padding: 5px;
}