/* Enter your custom styles here */
.sapMLnk {
    font-size: .75rem;
}
.sapMGTFocusDiv{
	background:#fff;
}
.sapMGT {
	box-shadow: 0px 0px;
	border: none;
}
.sapMListTblRow {
	height: 30px;
}
.sapMListTblCell {
	padding: 0px;
	vertical-align: middle;
    font-size: .75rem;
}
.sapPFHArrowScrollRight {
    display:none;
}
.suiteUiPFHCounter {
    display:none;
}
.sapPFHArrowScrollRight {
    display:none;
}
.sapSuiteUiCommonsPFHeaderRow{
	display:none;
}
.suiteUiProcessFlowLaneHeaderBodyContainer {
    display:none;
}
.tileStyle {
	height: 20px;
	width: 200px;
}